In [1]:
#list
#creating a list in integers
num=[1,2,3,4]
print(num)

[1, 2, 3, 4]

In [2]:
#creating a list in floating values
num=[1.1,2.2,3.3,4.4]
print(num)

[1.1, 2.2, 3.3, 4.4]

In [3]:
#creating a list in character
a=['a','b','c']
a

['a', 'b', 'c']

In [4]:
#creating a list in string
a=['apple','banana','orange']
a

['apple', 'banana', 'orange']

In [5]:
#creating a combination of elements in list 
b=[1,1.25,'a','python']
b

[1, 1.25, 'a', 'python']

In [6]:
#creating a list within list
x=[[1,2],['a','b']]
x

[[1, 2], ['a', 'b']]

In [7]:
x=['a','b',[1.5,2.32]]
x

['a', 'b', [1.5, 2.32]]

In [8]:
y=[1,12.5,'a','python']
print(y[0])
print(y[1])
print(y[2])
print(y[3])
print(y[:2])
print(y[2:])
print(y[0:2])
print(y[1:])
print(y[::4])
print(y[::1])
print(y[-4::])
print(y[-3])
print(y[1:5:2])
print(y[1:3:2])
#print(y[::0]) error

1
12.5
a
python
[1, 12.5]
['a', 'python']
[1, 12.5]
[12.5, 'a', 'python']
[1]
[1, 12.5, 'a', 'python']
[1, 12.5, 'a', 'python']
12.5
[12.5, 'python']
[12.5]

In [9]:
#operations in list
a=[0]*5
print([a])

[[0, 0, 0, 0, 0]]

In [10]:
letter=['a','b','c','d']
stg=['python','list']
conc=letter+stg
conc

['a', 'b', 'c', 'd', 'python', 'list']

In [11]:
a=list("python")
a

['p', 'y', 't', 'h', 'o', 'n']

In [12]:
num=[1,2,3,4]
print(num)
a,*other=num
print(a)
print(other)

[1, 2, 3, 4]
1
[2, 3, 4]

In [13]:
x="we are data scientist"
print(x[::2])

w r aasinit

In [14]:
#list
a=[10,20,30,40]
for i in a:
    print(i,end=" ")

10 20 30 40

In [15]:
a = [10, 20, 30, 40]
i = 0 
while i < len(a):  
    print(a[i],end=" ")  
    i += 1

10 20 30 40

In [16]:
#to check element 30 is present in list
a = [10, 20, 30, 40]
for i in a:
    if i==40:
        print("Value found")
        break
else:
    print("Value not found")

Value found

In [17]:
#membership operator
30 in a

True

In [18]:
#to find the index value of a number
a = [10, 20, 30, 40]
for i in range(len(a)):
    if a[i]==30:
        print(i)
        break

2

In [19]:
a = [10, 20, 30, 40]
n=len(a)
for i in range(n):
    if a[i]==30:
        print(a[i])
        break

30

In [20]:
#to print index value using index keyword
items=[1,2,3,4,5,6,7,8]
print(items.index(8))

7

In [21]:
x=[11,21,3,45,65,76,87,32,54,34,78,90,98,76,112,332,445,665,765,876,234,65,44,123,87,99]
len(x)

26

In [22]:
x[-1]

99

In [23]:
x[-4]

44

In [24]:
x[-7]

876

In [25]:
#empty list
e=[]
e

[]

In [26]:
#storing multiple values in a list
info=[1,"abc",84.9,'a']
info

[1, 'abc', 84.9, 'a']

In [27]:
#print abc using index value
info[1]

'abc'

In [28]:
#In the info list,how to add all the characters of the word "Hello"?
#a=['h','e','l','l','o']
#info=[1,"abc",84.9,'a']
#info.append(a)

In [29]:
info=[1,"abc",84.9,'a']
info.append('Sakshi')
print(info)

[1, 'abc', 84.9, 'a', 'Sakshi']

In [30]:
info1=[1,"abc",84.9,'a']
info1 += "Hello"
print(info1)

[1, 'abc', 84.9, 'a', 'H', 'e', 'l', 'l', 'o']

In [31]:
info=[1,"abc",84.9,'a']
info *= 2
info

[1, 'abc', 84.9, 'a', 1, 'abc', 84.9, 'a']

In [32]:
#mutable:changable,immutable:unchangable

In [33]:
#mutable
info=[1,"abc",84.9,'a']
info[1]="xyz"
info

[1, 'xyz', 84.9, 'a']

In [34]:
info2=[1, 'abc', 84.9, 'a', 'H', 'e', 'l', 'l', 'o']
info2[0:3]

[1, 'abc', 84.9]

In [35]:
info2[:0]

[]

In [36]:
info2[:1]

[1]

In [37]:
info2[:2]

[1, 'abc']

In [38]:
info2[:3]

[1, 'abc', 84.9]

In [39]:
info2[3:]

['a', 'H', 'e', 'l', 'l', 'o']

In [40]:
info2[::4]

[1, 'H', 'o']

In [41]:
stud=[2,"STU",8.58,"Female","India","9876543210"]
stud[::-3]

['9876543210', 8.58]

In [42]:
stud[::2]

[2, 8.58, 'India']

In [43]:
#program to create 100 elements ,where all the entries are same number,and the number is given by the user
i=int(input())
z=[]
z.append(i)
z=z*100
print(z)

 4

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [44]:
#to create a list of first 10 odd elements without using decision making statements
odd_numbers = list(range(1, 20, 2))  
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [45]:
#to create a list of 1 to 10 elements and from the list created,create another list with only odd values
numbers = list(range(1, 11))  
odd=numbers[::2]
print(numbers)
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [46]:
#to create a list of 1 to 10 elements and from the list created,create another list with only even values
numbers = list(range(1, 11))  
even=numbers[1::2]
print(numbers)
print(even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [47]:
#concatenation
list1=['a','b','c','d']
print(list1)
list2=['e','f','g','h']
print(list2)

['a', 'b', 'c', 'd']
['e', 'f', 'g', 'h']

In [48]:
con=list1+list2
con

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [49]:
#code to create a list ,which extracts from the string given by the user
ab=input()
li=list(ab)
li

 4

['4']

In [50]:
#code to get the input from the user for creating two lists and add the elemnts of one list into another
x=list(input())
x
y=list(input())
y
z=x+y
z

 1
 1

['1', '1']

In [51]:
maximum=list(range(1,11))
print(maximum)
n=max(maximum)
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10

In [52]:
a=list(map(int, input().split()))
b=[]
i=0
while i<len(a):
    if a[i]==2 or a[i]==3:
        b.append(a[i])
        a[i]= 0
    else:
        i+=1
print("A =", a)
print(len(b))

 1

A = [1]
0

In [53]:
n, S = map(int, input().split())
w = list(map(int, input().split()))
dp = [0] * (S + 1)
dp[0] = 0
dp

 1

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
#wapp to get the input from the user for creating two lists and add the elements of one list into other
size=(int(input("Enter the size")))
list1=[]
for i in range(size):
    list1.append(int(input()))
print(list1)

size2=int(input("Enter the size"))
list2=[]
for i in range(size2):
    list2.append(int(input()))
print(list2)

In [ ]:
x="hi,how are you"
x.split()

In [ ]:
#to find the maximum number in the list
a=int(input())
b=list(map(int,input().split()))
print(max(b))

In [ ]:
#python program to find second largest number in the list
m=int(input())
n=list(map(int,input().split()))
n.sort()
print(n[-2])

In [ ]:
#python code to create a list of 1 to 10 elements and from the list created,create another list with on;y odd values
list3=list(range(1,11))
odd=list3[::2]
print(list3)
print(odd)

In [ ]:
even=list3[1::2]
print(even)

In [ ]:
#python program to find the largest even and odd number in the list
n=int(input())
b=[]
for i in range(n):
    a=int(input())
    b.append(a)
c=[]
d=[]
for i in b:
    if(i%2==0):
        c.append(i)
    else:
        d.append(i)
c.sort()
d.sort()
print("Largest even number=",c[-1])
print("Largest odd number=",d[-1])

In [ ]:
#union=list(set().union(l1,l2))
#program to find union of two lists
l1=[]
num1=int(input("Enter the size of l1:"))

In [ ]:
a1=list(map(int,input().split()))
b1=list(map(int,input().split()))
union=list(set().union(a1,b1))
print('The union of two lists is:',union)

In [ ]:
#write a program to find the number of distinct elements in a list
def distinct(lst):
    return len(set(lst))
x= input("Enter the elements of the list ")
y = list(map(int, x.split()))
res= count_distinct_elements(y)
print("Number of distinct elements:", res)

In [ ]:
#write the program to print the number of repeated elements in a list
from collections import Counter
def count_repeated_elements(lst):
        counts = Counter(lst)
        repeated_elements = {key: value for key, value in counts.items() if value > 1}
        return len(repeated_elements)
user_input = input("Enter the elements of the list (separated by spaces): ")
user_list = list(map(int, user_input.split()))

# Calculate the number of repeated elements
result = count_repeated_elements(user_list)

# Output the result
print("Number of repeated elements:", result)

In [56]:
#python code to swap the first and last value of the list
size_of_list=int(input())
list1=list(map(int, input().split()))
list1[0]=list1[0]+list1[-1]
list1[-1]=list1[0]-list1[-1]
list1[0]=list1[0]-list1[-1]
print(list1)

 5
 2 3 4 5 6

[6, 3, 4, 5, 2]

In [ ]:
#python program to remove the duplicate items from the list