In [9]:
value_set={2,'python','a',5,9.4}
value_set.add("apple")
value_set

{2, 5, 9.4, 'a', 'apple', 'python'}

In [11]:
value_set={2,"python","a",5,9.4}
print(len(value_set))

5

In [13]:
value_set={2,"python","a",5,9.4}
value_set.remove('python')
print(value_set)

{2, 5, 9.4, 'a'}

In [15]:
value_set={2,"python","a",5,9.4}
value_set.discard('python')
print(value_set)

{2, 5, 9.4, 'a'}

In [1]:
values={6,'Python',5.6}
values

{5.6, 6, 'Python'}

In [5]:
print(type(values))

<class 'set'>

In [7]:
value={}
type(value)

dict

In [11]:
values=set()
type(values)

set

In [13]:
values={12,1,2,3,2,45,4,5,3}
values

{1, 2, 3, 4, 5, 12, 45}

In [15]:
value_set={2,"python","a",5,9.4}
value_set

{2, 5, 9.4, 'a', 'python'}

In [17]:
value_set[0]

TypeError: 'set' object is not subscriptable

In [19]:
value_set.append("Hello")
value_set

AttributeError: 'set' object has no attribute 'append'

In [21]:
value_set=value_set+"Hello"
value_set

TypeError: unsupported operand type(s) for +: 'set' and 'str'

In [30]:
value_set.add("apple")
value_set

{2, 5, 9.4, 'a', 'apple', 'python'}

In [32]:
#deleting element in set
value_set={2,"python","a",5,9.4}
value_set

{2, 5, 9.4, 'a', 'python'}

In [34]:
value_set.remove('python')
value_set

{2, 5, 9.4, 'a'}

In [36]:
value_set.remove(6)

KeyError: 6

In [44]:
value_set.discard(9.4)
value_set

{2, 5, 'a'}

In [46]:
value_set.discard(10)
value_set

{2, 5, 'a'}

In [48]:
#clear or delete a set
value_set={2,"python","a",5,9.4}
value_set

{2, 5, 9.4, 'a', 'python'}

In [50]:
value_set.clear()
value_set

set()

In [52]:
value_set={2,"python","a",5,9.4}
value_set

{2, 5, 9.4, 'a', 'python'}

In [54]:
del value_set

In [56]:
value_set

NameError: name 'value_set' is not defined

In [5]:
#write a python program to get the set elements from the user and print the elements in the created set
value_set=set()
n=int(input())
for i in range(n):
    value_set.add(int(input()))
value_set

 4
 6
 10
 16
 12

{6, 10, 12, 16}

In [8]:
for i in value_set:
    print(i)

16
10
12
6

In [16]:
#write a python code to check whether the element got from the user is present in value_set
value_set={16,10,12,6}
x=int(input())
print(x in value_set)

 10

True

In [18]:
#write a python program to find the length of set
len(value_set)

4

In [24]:
#Union of two sets
month1_set={"jan","feb","dec","mar"}
month2_set={"may","jan","oct","mar"}
month1_set

{'dec', 'feb', 'jan', 'mar'}

In [26]:
month2_set

{'jan', 'mar', 'may', 'oct'}

In [28]:
#union operation
month=month1_set | month2_set
month

{'dec', 'feb', 'jan', 'mar', 'may', 'oct'}

In [30]:
month_common=month1_set.union(month2_set)
month_common

{'dec', 'feb', 'jan', 'mar', 'may', 'oct'}

In [32]:
#Intersection of two sets
common=month1_set & month2_set
common

{'jan', 'mar'}

In [34]:
month_common=month1_set.intersection(month2_set)
month_common

{'jan', 'mar'}

In [36]:
#difference of two sets
diff=(month1_set-month2_set)
diff

{'dec', 'feb'}

In [38]:
diff=(month2_set-month1_set)
diff

{'may', 'oct'}

In [40]:
x=month1_set.difference(month2_set)
x

{'dec', 'feb'}

In [42]:
x=month2_set.difference(month1_set)
x

{'may', 'oct'}

In [44]:
#Set Comparisons
month1_set={"jan","feb","dec","mar"}
month2_set={"jan","feb"}
month1_set > month2_set

True

In [1]:
month1_set={"jan","feb","dec","mar"}
month2_set={"jan","feb"}
print(month1_set>month2_set)

True

In [3]:
print(month1_set<month2_set)

False

In [5]:
print(month1_set==month2_set)

False

In [1]:
#Create a set of squares of numbers from 0 to 4
squares={x**2 for x in range(5)}
print(squares)

{0, 1, 4, 9, 16}

In [3]:
#creating a new set of squared values
numbers=[1,2,3,4,5]
squared_numbers={x**2 for x in numbers}
print(squared_numbers)

{1, 4, 9, 16, 25}

In [13]:
#create a set of squares , but only for even number
numbers=[1,2,3,4,5]
even_num={x for x  in numbers if x%2==0}
print(even_num)

{2, 4}

In [17]:
#say the fruit name without vowel
words=['apple','banana','cherry','lyn']
vowels={'a','e','i','o','u'}
vowel_words={word for word in words if any(letter in vowels for letter in word)}
print(vowel_words)

{'banana', 'apple', 'cherry'}

In [22]:
#Eliminating duplicates
duplicates=[1,2,3,3,4,5,1,6]
unique_squares={x**2 for x in duplicates}
print(unique_squares)

{1, 4, 36, 9, 16, 25}

In [24]:
#Set Comprehension with string manipulation
#create a set of uppercase letters from string
text="hello world"
uppercase_letters={char.upper() for char in text if char.isalpha()}
print(uppercase_letters)

{'L', 'W', 'O', 'H', 'R', 'E', 'D'}