In [1]:
#empty tuple
e=()
print(e)

()

In [2]:
#creating tuples
value=26,45,32
print(value)

(26, 45, 32)

In [3]:
value=26.67,45.65,32
print(value)

(26.67, 45.65, 32)

In [4]:
value=26.67,45.65,32,"hello"
print(value)

(26.67, 45.65, 32, 'hello')

In [5]:
value="hello",
print(value,type(value))

('hello',) <class 'tuple'>

In [6]:
#immutable 
#tuples doesnot change the value
value=26.67,45.65,32,"hello"
value[1]=7
print(value)

TypeError: 'tuple' object does not support item assignment

In [32]:
value=26.67,45.65,32,"hello"
value2=7.56,"python"
print(value+value2)

(26.67, 45.65, 32, 'hello', 7.56, 'python')

In [34]:
#nesting of tuples
value=26.67,45.65,32,"hello"
value2=7.56,"python"
value3=value,value2
print(value3)

((26.67, 45.65, 32, 'hello'), (7.56, 'python'))

In [36]:
#repetition of tuples
value=(26.67,45.65,32,"hello",)*2
print(value)

(26.67, 45.65, 32, 'hello', 26.67, 45.65, 32, 'hello')

In [38]:
#Accessing values in tuple
value=(26,45,"hello",7.5)
print(value[3])

7.5

In [40]:
#slicing in tuples
value=(26,45,"hello",7.5)
print(value[0:])

(26, 45, 'hello', 7.5)

In [42]:
value=(26,45,"hello",7.5)
print(value[2:])

('hello', 7.5)

In [44]:
value=(26,45,"hello",7.5)
print(value[:3])

(26, 45, 'hello')

In [46]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[:7])

(26, 45, 'hello', 7.5, 'z', 5, 6.9)

In [48]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[:4])

(26, 45, 'hello', 7.5)

In [50]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[-1])

6.9

In [52]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[:-4])

(26, 45, 'hello')

In [54]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[-4:])

(7.5, 'z', 5, 6.9)

In [56]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[:-1])

(26, 45, 'hello', 7.5, 'z', 5)

In [58]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[::-1])

(6.9, 5, 'z', 7.5, 'hello', 45, 26)

In [60]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[::-2])

(6.9, 'z', 'hello', 26)

In [62]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[::-3])

(6.9, 7.5, 26)

In [64]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[-3::])

('z', 5, 6.9)

In [66]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[::2])

(26, 'hello', 'z', 6.9)

In [68]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[1:4])

(45, 'hello', 7.5)

In [70]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[1::1])

(45, 'hello', 7.5, 'z', 5, 6.9)

In [72]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[1::3])

(45, 'z')

In [74]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[-1::-2])

(6.9, 'z', 'hello', 26)

In [76]:
value=(26,45,"hello",7.5,'z',5,6.9)
print(value[1:6:2])

(45, 7.5, 5)

In [78]:
#deleting a tuple
value=(26,45,"hello",7.5,'z',5,6.9)
del(value[1])
print(value)

TypeError: 'tuple' object doesn't support item deletion

In [82]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [80]:
Tuple=('hello')
n=3
for i in range(int(n)):
    Tuple=(Tuple,)
    print(Tuple)

('hello',)
(('hello',),)
((('hello',),),)

In [84]:
t=('developer',5,8.9,'r',8)
print(len(t))

5

In [86]:
t1=(9,5,89,4,8)
print(max(t1))
print(min(t1))
print(sum(t1))
print(sorted(t1))
print(any(t1))

89
4
115
[4, 5, 8, 9, 89]
True

In [88]:
tuple=(0,1)
print(any(tuple))

True

In [90]:
a=(0,)
print(any(a))

False

In [92]:
b=()
print(any(b))

False

In [94]:
c=(4,1)
print(all(c))

True

In [96]:
tupl=(0,5,7)
print(all(tupl))

False

In [98]:
b=()
print(all(b))

True

In [100]:
a=('apple','byte','computer')
for i in a:
    print(i)

apple
byte
computer

In [102]:
a=('apple','byte','computer')
print(list(a))

['apple', 'byte', 'computer']

In [104]:
a=(3,7,'p','y','z',9.5,'y')
print(a.count('y'))
print(a.count(7))
print(a.count(9))

2
1
0

In [106]:
a=(3,7,'p','y','z',9.5,'y')
print(a.index('y'))
print(a.index(7))

3
1

In [108]:
value_tuple=(26.45,'hello')
value=("a",)
type(value)

tuple

In [110]:
value="b"
type(value)

str

In [112]:
#insertion in tuple
value_tuple=(26.45,'hello',7.5)
value_tuple

(26.45, 'hello', 7.5)

In [114]:
value_tuple[2]="python"

TypeError: 'tuple' object does not support item assignment

In [116]:
#concatenation
value_tuple=(26.45,'hello')
value_tuple2=(7,5.6,"Python")
value3=value_tuple+value_tuple2
value3

(26.45, 'hello', 7, 5.6, 'Python')

In [118]:
#nesting

value3=value_tuple,value_tuple2
value3

((26.45, 'hello'), (7, 5.6, 'Python'))

In [120]:
value_tuple=(26,45,'hello')
value_tuple=value_tuple+(7,)
value_tuple

(26, 45, 'hello', 7)

In [122]:
value_tuple=(26,45,'hello')
converted_list=list(value_tuple)
converted_list.append(7)
converted_list

[26, 45, 'hello', 7]

In [30]:
value_tuple=tuple(converted_list)
value_tuple

(26, 45, 'hello', 7)

In [124]:
#repetition in tuples
value_tuple=(26,45,'hello')*2
value_tuple

(26, 45, 'hello', 26, 45, 'hello')

In [126]:
value_tuple=(26,45,'hello')*4
value_tuple

(26, 45, 'hello', 26, 45, 'hello', 26, 45, 'hello', 26, 45, 'hello')

In [26]:
#write a pyhton program to get the tuple values from user and print it
value=()
n=int(input())
list1=[]
for i in range(n):
    list1.append(int(input()))
value=tuple(list1)
value

 3
 1
 2
 3

(1, 2, 3)

In [1]:
#Accessing values in tuple
number=("one","two","three","four")
i=0
while i<len(number):
    print(number[i])
    i=i+1

one
two
three
four

In [3]:
number=("one","two","three","four")
for i in number:
    print(i)

one
two
three
four

In [7]:
#write a python program to get the element 45 from the below tuple
value_tuple=(26,12,10,6,67,91,45,'hello',75,99,7,"Name")
print(value_tuple[6])

45

In [39]:
value_tuple=(26,12,10,6,67,91,45,'hello',75,99,7,"Name")
for i in value_tuple:
    if i==45:
        print(i)

45

In [41]:
value_tuple=(26,12,10,6,67,91,45,'hello',75,99,7,"Name")
print(45 in value_tuple)

True

In [33]:
#unpacking the tuple
numbers=("one","two","three","four")
(a,b,c,d)=numbers
print(c)

three

In [37]:
numbers=("one","two","three","four","five")
(a,*b,c)=numbers
print(a)
print(*b)
print(c)

one
two three four
five